<script src="https://kit.fontawesome.com/ed83835817.js" crossorigin="anonymous"></script> 
<div class="header">
<!--Content before waves-->
<div class="inner-header flex">
<i class="icon fa fa-box-open fa-3x"></i><h1>Softega</h1>
</div>
<span class="site-title">Tienda de equipo de cómputo y accesorios</span>
       <div>
       <a aria-label="Send email" href="https://arsova.mx/"><i class="icon fa fa-envelope fa-2x"></i></a>
       <a aria-label="My Twitter" target="_blank" href="https://arsova.mx/"><i class="icon fa fa-twitter fa-2x" aria-hidden="true"></i></a>
       <a aria-label="My Google Plus" target="_blank" href="https://arsova.mx/"><i class="icon fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
       <a aria-label="My Github" target="_blank" href="https://arsova.mx/"><i class="icon fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
       </div>
<!--Waves Container-->
<div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
</g>
</svg>
</div>
<!--Waves end-->
</div>
<!--Header ends-->

<!--Content starts
<div class="content flex">
  <p>Softega </p>
</div>
Content ends-->
