<div class="user-details">
  <h1> Información adicional </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Articulos de investigación publicados por el Dr. XXXXX, YYYYYY </h3>
    <ul>
      <li> Articulo ID: 123456</li>
    </ul>
    <p>Esto es un texto de ejemplo.Esto es un texto de ejemplo.Esto es un texto de ejemplo.Esto es un texto de ejemplo.Esto es un texto de ejemplo.Esto es un texto de ejemplo.</p>
    <a class="project-link" href="#">Info</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Otro proyecto del Dr. XXXXXX, YYYYYYY </h3>
    <ul>
      <li> Proyecto ID: 654321</li>
    </ul>
    <p>Esto es un texto de ejemplo.Esto es un texto de ejemplo.Esto es un texto de ejemplo.Esto es un texto de ejemplo.Esto es un texto de ejemplo.Esto es un texto de ejemplo.Esto es un texto de ejemplo.</p>
    <a class="project-link" href="#">Info</a>
  </div>
</div>
